.vs/AspnetCoreStudy/v15/.suo
.vs/AspnetCoreStudy/v15/Server/sqlite3/db.lock
.vs/AspnetCoreStudy/v15/Server/sqlite3/storage.ide
.vs/AspnetCoreStudy/v15/Server/sqlite3/storage.ide-shm
.vs/AspnetCoreStudy/v15/Server/sqlite3/storage.ide-wal
.vs/config/applicationhost.config
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release
.vs/
AspnetCoreStudy/obj/
AspnetCoreStudy/bin/
AspnetCoreStudy/bower_components/
information.txt